img {
    max-width: 100%;
}

#galeria {
    max-width: 600px;
    margin: 0 auto;
}

#galeria ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}