@charset "UTF-8";

:root {
    --fundo: #f7f7f7;
    --texto: #c6c6c6;
    --vermelho: #ee2211;

    --fonte: Arial, Helvetica, sans-serif;
}

/* 
    todo
    *  Colocar ícones no main-vantagens
*/

* {
    margin: 0px;
    padding: 0px;

    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: block;
}

body {
    height: 100vh;
    width: 100vw;

    background-color: var(--fundo);
    font-family: var(--fonte);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 70px;
}

.header-logo img {
    margin-bottom: 50px;
}

.header-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.header-nav a {
    background-color: white;
    color: black;
    padding: 15px 35px;
    border-radius: 4px;
}

.main {
    margin: auto;
    max-width: 1000px;
    margin-bottom: 70px;

    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main-image img {
    width: 100%;
    height: 100%;
}

.main-about {
    position: relative;
    display: grid;
    align-content: center;
    place-items: end;
    text-align: end;
    gap: 25px;

    padding: 40px;
    background-color: white;
}

.traco-vermelho {
    position: absolute;
    top: 30px;
    right: -25px;

    height: 3px;
    width: 50px;
    background-color: var(--vermelho);
}

.main-about h1 {
    font-size: 2.2em;
}

.main-about p {
    font-size: 20px;
    line-height: 1.3;
}

.main-about a {
    background-color: var(--vermelho);
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

.main-vantagens-titulo {
    display: grid;
    place-content: center;
    text-align: end;
    padding: 20px;

    color: var(--texto);
    font-size: 40px;
}

.main-vantagens {
    display: grid;
    gap: 25px;
    padding: 50px;

    background-color: white;
}

.main-vantagens h3 {
    margin-bottom: 10px;
}

.main-vantagens p {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;

    background-color: white;
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
}